
.card{
    width:100%;
    max-width: 36rem;
    border-radius:35px;
    padding:20px 60px 60px 60px;
    text-align:center;
    box-shadow:
    0 30px 80px rgba(15,23,42,.08),
    0 10px 30px rgba(15,23,42,.05);
    margin: 3rem auto;
    z-index:2;
}

.logo{
    width:110px;
    
}

/*  */

/* Inputs */
.input {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;

  }

  .input *{
    margin: 0;
    padding: 0;
   
  }

  .input-field {
    width: 100%;
    padding: 0.8rem 1rem;
    border: 1px solid #ccccccd3;
    
    border-radius: 0.5rem !important;
    outline: none;
    transition: all 0.3s;
    font-family: "Gabarito", system-ui, -apple-system, Segoe UI, sans-serif;
    
  }

  .input-field:focus { border-color: var(--card); }

  .input-label {
    position: absolute;
    top: 50%;
    left: 1.2rem;
    transform: translateY(-50%);
    color: var(--muted);
    pointer-events: none;
    
    transition: all 0.3s;
  }

  .input-field:focus ~ .input-label,
  .input-field:not(:placeholder-shown) ~ .input-label {
    top: -0.1rem;
    left: 1rem;
    font-size: 0.7rem;
    background: white;
    padding: 0 0.3rem;
    color: var(--card);
  }

  .acciones button{
    width: 100%;
    border-radius: 0.5rem !important;
    border: none;
    font-family: "Gabarito", system-ui, -apple-system, Segoe UI, sans-serif;
    background-color: var(--card);
    color: white;
    padding: .8rem;
  }

  @media (max-width: 768px) {
    .ListaEspera {
      width: 100%;
      margin-top: 0;
   
    }

    .card{
        margin-top: 0;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
        padding-left: 1.4rem;
        padding-right: 1.4rem;
    }

    .logo{
        width:80px;
        
    }
  
  }